# Window Function

In [ ]:
🔷Day 232-DataScienceJourney(SQL)
 ⭐ Topic : WINDOW FUNCTIONS
🎸 Today , I explored :
🔥 Window functions :
-what are window functions ?
-Types of window functions
-Aggregate window functions
-Ranking window functions
-Value window functions

🔥Window Functions : Window functions in sql are a type of analytical function that perform calculations across a set of rows that are related to the current row called "window".

->Window function calculated a value for each row in the result set based on a subset of the row that are defined by a window function specification

🔥Aggregate
AVG() , MAX() , MIN()

🔥RANKING 
-ROW_NUMBER() , RANK() , DENSE_RANK() 

🔥VALUE
-LAG() , LEAD() , FIRST_VALUE() ,LAST_VALUE() , NTH_VALUE()

In [ ]:

select avg(marks) over() 
from st_marks;

select * , avg(marks) over(partition by class) 
from st_marks;

select *,max(marks) over(partition by class) ,
min(marks) over(partition by class)
from st_marks;

select * ,
rank() over(order by marks desc) as ranking
from st_marks;

select * ,
rank() over(partition by class order by marks desc) as ranking
from st_marks;

select * ,
dense_rank() over(partition by class order by marks desc)
from st_marks

select * ,
row_number() over(partition by class)
from st_marks;

select * , 
concat(student_id,'#',class,'-',row_number() over(partition by class))
from st_marks;

select * , 
first_value(name) over(order by marks desc )
from st_marks;
select * , 
last_value(name) over( )
from st_marks;

select * , 
nth_value(marks,2) over()
from st_marks;

select * ,
lead(marks) over(order by student_id )
from st_marks;