# pandas

In [3]:
import pandas as pd
pd.read_csv('services.csv')

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [5]:
import pandas as pd
r=pd.read_csv('services.csv')
r.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [7]:
r.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [9]:
r.head(15)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN

In [11]:
r.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [13]:
r.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [15]:
r.tail(15)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [17]:
type(r)

pandas.core.frame.DataFrame

In [19]:
r.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [23]:
r['email']

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17                      NaN
18                      NaN
19                      NaN
20                      NaN
21    passports@example.org
22                      NaN
Name: email, dtype: object

In [25]:
type(r.columns)

pandas.core.indexes.base.Index

In [27]:
list(r.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [31]:
r['fees']

0     $2.50 suggested donation for lunch for age 60 ...
1     None. Donations requested of clients who can a...
2                                                 None.
3     Vary according to income ($5-$90). Cash, check...
4         $60 application fee. Cash or checks accepted.
5     $55 per year membership dues. Classes have fee...
6     $85 per day. Vary according to income for thos...
7     Suggested donation of $4.25 per meal for senio...
8                                                 None.
9                                                 None.
10                                                None.
11                                                None.
12                                                None.
13                                                None.
14                                                None.
15    None for emergency services. Vary for after sc...
16                                                None.
17                                                None.
18                                                None.
19                                                  NaN
20                                                  NaN
21    None, except for permits and photocopying. Cas...
22    None, except for permits and photocopying. Cas...
Name: fees, dtype: object

In [33]:
r['status']

0       active
1       active
2       active
3       active
4       active
5       active
6       active
7       active
8       active
9       active
10      active
11      active
12      active
13      active
14      active
15      active
16      active
17      active
18      active
19     defunct
20    inactive
21      active
22      active
Name: status, dtype: object

In [35]:
type(r['status'])

pandas.core.series.Series

In [37]:
r.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [41]:
r[['id','location_id','program_id','website']]

    id  location_id  program_id                 website
0    1            1         NaN                     NaN
1    2            2         NaN                     NaN
2    3            3         NaN                     NaN
3    4            4         NaN                     NaN
4    5            5         NaN                     NaN
5    6            6         NaN                     NaN
6    7            7         NaN                     NaN
7    8            8         NaN                     NaN
8    9            9         NaN                     NaN
9   10           10         NaN                     NaN
10  11           11         NaN                     NaN
11  12           12         NaN                     NaN
12  13           13         NaN                     NaN
13  14           14         NaN                     NaN
14  15           15         NaN                     NaN
15  16           16         NaN                     NaN
16  17           17         NaN                     NaN
17  18           18         NaN                     NaN
18  19           19         NaN                     NaN
19  20           20         NaN                     NaN
20  21           21         NaN                     NaN
21  22           22         NaN  http://www.example.com
22  23           22         NaN  http://www.example.com

In [43]:
r.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

# now reading excel file in pandas

In [46]:
import pandas as pd
pd.read_excel("LUSID Excel - Setting up your market data (1).xlsx")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Getting Started tutorials,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Knowledge Base articles,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,or Contact us,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,LUSID accepts datetimes in any recognised Exce...,NaN,NaN,"LUSID also accepts UTC, UTS offsets and cutlabels",NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,Excel formats to show datetime,NaN,NaN,Additional formats,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,Enter the date to convert,2019-04-10 00:00:00,NaN,Standard UTC timestamp:,"""YYYY-MM-DDTHH:MM:SS.00Z""","Where Z indicates Zulu time (UTC+0), and is eq..."
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,This date has no time component,2019-04-10 00:00:00,NaN,Convert date into a string,2019-04-10T 13:30:45.55Z,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,Specify time component,13:30:45.550000,NaN,UTC offset (not recognised as an excel date),2019-04-10T13:30:45+04:00,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,Add to your date and display the complete date...,2019-04-10 13:30:45.550000,NaN,Cutlabel,2019-04-10NSingaporeClose,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Although the date can still appears without time,2019-04-10 13:30:45.550000,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

In [56]:
import pandas as pd
r1=pd.read_excel("LUSID Excel - Setting up your market data (1).xlsx")
type(r1)

pandas.core.frame.DataFrame

In [60]:
r1.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Unnamed: 2    float64
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
dtype: object

In [62]:
r1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [64]:
r1['Unnamed: 7']

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11    LUSID also accepts UTC, UTS offsets and cutlabels
12                                                  NaN
13                                   Additional formats
14                                                  NaN
15                              Standard UTC timestamp:
16                                                  NaN
17                           Convert date into a string
18                                                  NaN
19         UTC offset (not recognised as an excel date)
20                                                  NaN
21                                             Cutlabel
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27                                                  NaN
Name: Unnamed: 7, dtype: object

In [66]:
r1[[ 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']]

    Unnamed: 1  Unnamed: 2                                         Unnamed: 3
0          NaN         NaN                                                NaN
1          NaN         NaN                                 Datetimes in LUSID
2          NaN         NaN                                                NaN
3          NaN         NaN   This sheet allows you to format datetimes for...
4          NaN         NaN        If you have any questions please visit our:
5          NaN         NaN                                                NaN
6          NaN         NaN                                                NaN
7          NaN         NaN                                                NaN
8          NaN         NaN                                                NaN
9          NaN         NaN                                                NaN
10         NaN         NaN                                                NaN
11         NaN         NaN                                                NaN
12         NaN         NaN                                                NaN
13         NaN         NaN                                                NaN
14         NaN         NaN                                                NaN
15         NaN         NaN                                                NaN
16         NaN         NaN                                                NaN
17         NaN         NaN                                                NaN
18         NaN         NaN                                                NaN
19         NaN         NaN                                                NaN
20         NaN         NaN                                                NaN
21         NaN         NaN                                                NaN
22         NaN         NaN                                                NaN
23         NaN         NaN                                                NaN
24         NaN         NaN                                                NaN
25         NaN         NaN                                                NaN
26         NaN         NaN                                                NaN
27         NaN         NaN                                                NaN

In [68]:
r1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
r1.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
23,NaN,NaN,NaN,NaN,Although the date can still appears without time,2019-04-10 13:30:45.550000,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

In [76]:
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [78]:
import pandas as pd
r2=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv')
r2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [80]:
r2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [82]:
type(r2.columns)

pandas.core.indexes.base.Index

In [84]:
r2['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [86]:
type(r2['Survived'])

pandas.core.series.Series

In [90]:
r2[['Survived', 'Pclass', 'Name']]

     Survived  Pclass                                               Name
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
..        ...     ...                                                ...
886         0       2                              Montvila, Rev. Juozas
887         1       1                       Graham, Miss. Margaret Edith
888         0       3           Johnston, Miss. Catherine Helen "Carrie"
889         1       1                              Behr, Mr. Karl Howell
890         0       3                                Dooley, Mr. Patrick

[891 rows x 3 columns]

In [92]:
r2['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [96]:
import pandas as pd
pd.read_html('https://www.basketball-reference.com/leagues/NBA_2025.html')

[          Eastern Conference   W   L   W/L%    GB   PS/G   PA/G    SRS
 0   Cleveland Cavaliers* (1)  64  18  0.780     —  121.9  112.4   8.81
 1        Boston Celtics* (2)  61  21  0.744   3.0  116.3  107.2   8.28
 2       New York Knicks* (3)  51  31  0.622  13.0  115.8  111.7   3.59
 3        Indiana Pacers* (4)  50  32  0.610  14.0  117.4  115.1   1.68
 4       Milwaukee Bucks* (5)  48  34  0.585  16.0  115.5  113.0   2.12
 5       Detroit Pistons* (6)  44  38  0.537  20.0  115.5  113.6   1.73
 6         Orlando Magic* (7)  41  41  0.500  23.0  105.4  105.5  -0.70
 7         Atlanta Hawks* (8)  40  42  0.488  24.0  118.2  119.3  -1.41
 8         Chicago Bulls* (9)  39  43  0.476  25.0  117.8  119.4  -1.83
 9           Miami Heat* (10)  37  45  0.451  27.0  110.6  110.0   0.11
 10      Toronto Raptors (11)  30  52  0.366  34.0  110.9  115.2  -4.40
 11        Brooklyn Nets (12)  26  56  0.317  38.0  105.1  112.2  -6.95
 12   Philadelphia 76ers (13)  24  58  0.293  40.0  109.6  115.8  -6.29
 13    Charlotte Hornets (14)  19  63  0.232  45.0  105.1  114.2  -9.10
 14   Washington Wizards (15)  18  64  0.220  46.0  108.0  120.4 -12.14,
              Western Conference   W   L   W/L%    GB   PS/G   PA/G    SRS
 0    Oklahoma City Thunder* (1)  68  14  0.829     —  120.5  107.6  12.70
 1          Houston Rockets* (2)  52  30  0.634  16.0  114.3  109.8   4.97
 2       Los Angeles Lakers* (3)  50  32  0.610  18.0  113.4  112.2   1.45
 3           Denver Nuggets* (4)  50  32  0.610  18.0  120.8  116.9   3.97
 4     Los Angeles Clippers* (5)  50  32  0.610  18.0  112.9  108.2   4.84
 5   Minnesota Timberwolves* (6)  49  33  0.598  19.0  114.3  109.3   5.15
 6    Golden State Warriors* (7)  48  34  0.585  20.0  113.8  110.5   3.56
 7        Memphis Grizzlies* (8)  48  34  0.585  20.0  121.7  116.9   4.79
 8         Sacramento Kings* (9)  40  42  0.488  28.0  115.7  115.3   0.58
 9        Dallas Mavericks* (10)  39  43  0.476  29.0  114.2  115.4  -0.74
 10            Phoenix Suns (11)  36  46  0.439  32.0  113.6  116.6  -2.55
 11  Portland Trail Blazers (12)  36  46  0.439  32.0  110.9  113.9  -2.67
 12       San Antonio Spurs (13)  34  48  0.415  34.0  113.9  116.7  -2.45
 13    New Orleans Pelicans (14)  21  61  0.256  47.0  109.8  119.3  -8.59
 14               Utah Jazz (15)  17  65  0.207  51.0  111.9  121.2  -8.51,
           Eastern Conference                   W                   L  \
 0          Atlantic Division   Atlantic Division   Atlantic Division
 1        Boston Celtics* (2)                  61                  21
 2       New York Knicks* (3)                  51                  31
 3       Toronto Raptors (11)                  30                  52
 4         Brooklyn Nets (12)                  26                  56
 5    Philadelphia 76ers (13)                  24                  58
 6           Central Division    Central Division    Central Division
 7   Cleveland Cavaliers* (1)                  64                  18
 8        Indiana Pacers* (4)                  50                  32
 9       Milwaukee Bucks* (5)                  48                  34
 10      Detroit Pistons* (6)                  44                  38
 11        Chicago Bulls* (9)                  39                  43
 12        Southeast Division  Southeast Division  Southeast Division
 13        Orlando Magic* (7)                  41                  41
 14        Atlanta Hawks* (8)                  40                  42
 15          Miami Heat* (10)                  37                  45
 16    Charlotte Hornets (14)                  19                  63
 17   Washington Wizards (15)                  18                  64

                   W/L%                  GB                PS/G  \
 0    Atlantic Division   Atlantic Division   Atlantic Division
 1                 .744                   —               116.3
 2                 .622                10.0               115.8
 3                 .366                31.0               110.9
 4                 .317                35.0               105.1
 5                 .293                37.0               109.6
 6     Central Division    Central Division    Central Division
 7                 .780                   —               121.9
 8                 .610                14.0               117.4
 9                 .585                16.0               115.5
 10                .537                20.0               115.5
 11                .476                25.0               117.8
 12  Southeast Division  Southeast Division  Southeast Division
 13                .500                   —               105.4
 14                .488                 1.0               118.2
 15                .451                 4.0               110.6
 16                .232                22.0               105.1
 17                .220                23.0               108.0

                   PA/G                 SRS
 0    Atlantic Division   Atlantic Division
 1                107.2                8.28
 2                111.7                3.59
 3                115.2               -4.40
 4                112.2               -6.95
 5                115.8               -6.29
 6     Central Division    Central Division
 7                112.4                8.81
 8                115.1                1.68
 9                113.0                2.12
 10               113.6                1.73
 11               119.4               -1.83
 12  Southeast Division  Southeast Division
 13               105.5               -0.70
 14               119.3               -1.41
 15               110.0                0.11
 16               114.2               -9.10
 17               120.4              -12.14  ,
              Western Conference                   W                   L  \
 0            Northwest Division  Northwest Division  Northwest Division
 1    Oklahoma City Thunder* (1)                  68                  14
 2           Denver Nuggets* (4)                  50                  32
 3   Minnesota Timberwolves* (6)                  49                  33
 4   Portland Trail Blazers (12)                  36                  46
 5                Utah Jazz (15)                  17                  65
 6              Pacific Division    Pacific Division    Pacific Division
 7       Los Angeles Lakers* (3)                  50                  32
 8     Los Angeles Clippers* (5)                  50                  32
 9    Golden State Warriors* (7)                  48                  34
 10        Sacramento Kings* (9)                  40                  42
 11            Phoenix Suns (11)                  36                  46
 12           Southwest Division  Southwest Division  Southwest Division
 13         Houston Rockets* (2)                  52                  30
 14       Memphis Grizzlies* (8)                  48                  34
 15       Dallas Mavericks* (10)                  39                  43
 16       San Antonio Spurs (13)                  34                  48
 17    New Orleans Pelicans (14)                  21                  61

                   W/L%                  GB                PS/G  \
 0   Northwest Division  Northwest Division  Northwest Division
 1                 .829                   —               120.5
 2                 .610                18.0               120.8
 3                 .598                19.0               114.3
 4                 .439                32.0               110.9
 5                 .207                51.0               111.9
 6     Pacific Division    Pacific Division    Pacific Division
 7                 .610                   —               113.4
 8                 .610                   —               112.9
 9                 .585                 2.0               113.8
 10                .488                10.0               115.7
 11                .439                14.0               113.6
 12  Southwest Division  Southwest Division  Southwest Division
 13                .634                   —               114.3
 14                .585                 4.0               121.7
 15                .476                13.0               114.2
 16                .415                18.0               113.9
 17                .256                31.0               109.8

                   PA/G                 SRS
 0   Northwest Division  Northwest Division
 1                107.6               12.70
 2                116.9                3.97
 3                109.3                5.15
 4                113.9               -2.67
 5                121.2               -8.51
 6     Pacific Division    Pacific Division
 7                112.2                1.45
 8                108.2                4.84
 9                110.5                3.56
 10               115.3                0.58
 11               116.6               -2.55
 12  Southwest Division  Southwest Division
 13               109.8                4.97
 14               116.9                4.79
 15               115.4               -0.74
 16               116.7               -2.45
 17               119.3               -8.59  ,
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA  \
 0    1.0     Cleveland Cavaliers*  82  240.9  44.5  90.8  0.491  15.9  41.5
 1    2.0       Memphis Grizzlies*  82  240.3  44.8  93.3  0.479  13.9  37.9
 2    3.0          Denver Nuggets*  82  242.1  45.4  89.8  0.506  12.0  31.9
 3    4.0   Oklahoma City Thunder*  82  240.3  44.6  92.7  0.482  14.5  38.8
 4    5.0           Atlanta Hawks*  82  241.2  43.4  91.8  0.472  13.5  37.7
 5    6.0           Chicago Bulls*  82  240.9  43.2  92.0  0.470  15.4  42.0
 6    7.0          Indiana Pacers*  82  242.1  43.6  89.3  0.488  13.2  35.8
 7    8.0          Boston Celtics*  82  241.8  41.6  90.0  0.462  17.8  48.2
 8    9.0         New York Knicks*  82  242.4  43.3  89.2  0.486  12.6  34.1
 9   10.0        Sacramento Kings*  82  242.4  43.0  90.1  0.478  12.6  35.2
 10  11.0         Milwaukee Bucks*  82  240.9  42.0  86.4  0.486  14.2  36.6
 11  12.0         Detroit Pistons*  82  241.5  42.7  89.8  0.476  12.8  35.4
 12  13.0  Minnesota Timberwolves*  82  241.8  41.0  87.6  0.468  15.0  39.9
 13  14.0         Houston Rockets*  82  241.2  42.5  93.4  0.455  12.7  35.8
 14  15.0        Dallas Mavericks*  82  240.6  42.0  87.7  0.479  12.4  34.2
 15  16.0        San Antonio Spurs  82  240.6  41.8  89.8  0.465  14.1  39.6
 16  17.0   Golden State Warriors*  82  240.6  40.8  90.4  0.451  15.4  42.4
 17  18.0             Phoenix Suns  82  241.8  41.2  86.3  0.478  14.3  38.0
 18  19.0      Los Angeles Lakers*  82  240.6  40.9  85.5  0.479  13.3  36.4
 19  20.0    Los Angeles Clippers*  82  241.5  41.6  86.3  0.482  12.5  33.4
 20  21.0                Utah Jazz  82  241.5  40.3  88.7  0.454  14.0  39.8
 21  22.0          Toronto Raptors  82  241.5  41.6  91.0  0.458  11.8  34.0
 22  23.0   Portland Trail Blazers  82  241.2  40.5  90.2  0.450  12.9  37.7
 23  24.0              Miami Heat*  82  243.0  40.5  87.0  0.465  13.7  37.3
 24  25.0     New Orleans Pelicans  82  240.9  40.6  89.9  0.452  12.0  34.6
 25  26.0       Philadelphia 76ers  82  241.5  39.7  87.4  0.454  12.7  37.2
 26  27.0       Washington Wizards  82  240.6  39.4  89.9  0.439  13.1  39.1
 27  28.0           Orlando Magic*  82  240.6  38.2  85.8  0.445  11.2  35.3
 28  29.0        Charlotte Hornets  82  240.9  38.3  89.1  0.430  13.0  38.3
 29  30.0            Brooklyn Nets  82  241.2  37.6  86.1  0.437  13.6  39.4
 30   NaN           League Average  82  241.3  41.7  89.2  0.467  13.5  37.6

       3P%  ...    FT%   ORB   DRB   TRB   AST   STL  BLK   TOV    PF    PTS
 0   0.383  ...  0.776  11.2  34.2  45.4  28.1   8.2  4.3  13.2  18.1  121.9
 1   0.367  ...  0.786  12.9  34.4  47.3  28.4   8.9  5.6  15.7  20.9  121.7
 2   0.376  ...  0.770  11.2  34.5  45.7  31.0   8.0  4.9  14.3  17.6  120.8
 3   0.374  ...  0.819  10.6  34.2  44.8  26.9  10.3  5.7  11.7  19.9  120.5
 4   0.358  ...  0.775  11.9  32.6  44.5  29.6   9.7  5.1  15.5  19.1  118.2
 5   0.367  ...  0.809  10.1  35.8  45.9  29.1   7.6  4.7  14.7  17.6  117.8
 6   0.368  ...  0.789   9.2  32.7  41.8  29.2   8.5  5.5  13.2  18.7  117.4
 7   0.368  ...  0.799  11.4  33.9  45.3  26.1   7.2  5.5  11.9  15.9  116.3
 8   0.369  ...  0.800  10.9  31.8  42.6  27.5   8.2  4.0  13.3  17.2  115.8
 9   0.357  ...  0.806  11.0  33.2  44.2  26.5   7.6  4.4  13.3  18.9  115.7
 10  0.387  ...  0.750   8.2  35.1  43.4  25.5   7.3  4.7  13.4  17.9  115.5
 11  0.362  ...  0.774  11.4  33.4  44.8  26.4   8.0  5.3  14.9  20.7  115.5
 12  0.377  ...  0.789  11.1  33.2  44.3  26.1   8.0  5.0  14.5  18.3  114.3
 13  0.353  ...  0.738  14.6  33.8  48.5  23.3   8.4  5.0  13.9  19.0  114.3
 14  0.364  ...  0.770  10.1  33.0  43.0  25.2   7.8  5.4  14.0  17.8  114.2
 15  0.357  ...  0.774  10.9  32.7  43.7  28.6   8.2  5.5  13.9  16.6  113.9
 16  0.364  ...  0.764  12.5  32.8  45.4  29.1   9.4  4.8  14.0  19.2  113.8
 17  0.378  ...  0.810   9.5  32.9  42.5  27.8   7.2  4.8  14.1  17.9  113.6
 18  0.366  ...  0.785   9.7  32.8  42.4  26.0   7.7  4.5  14.0  17.3  113.4
 19  0.373  ...  0.797  10.3  33.5  43.8  25.2   9.4  4.5  14.9  18.3  112.9
 20  0.350  ...  0.774  12.0  33.4  45.4  25.5   6.8  4.4  17.2  18.9  111.9
 21  0.348  ...  0.748  12.6  32.5  45.1  28.5   8.1  4.2  15.3  21.2  110.9
 22  0.342  ...  0.762  13.4  31.4  44.8  23.8   8.3  5.3  16.0  19.0  110.9
 23  0.367  ...  0.791   9.7  33.7  43.4  26.4   8.1  3.8  13.6  15.5  110.6
 24  0.347  ...  0.754  12.1  31.5  43.6  25.8   8.5  5.2  14.6  18.3  109.8
 25  0.341  ...  0.780  10.4  29.4  39.8  23.2   9.2  4.5  13.6  19.0  109.6
 26  0.335  ...  0.778  10.6  33.1  43.7  25.1   7.6  5.1  15.6  19.7  108.0
 27  0.318  ...  0.775  11.1  30.7  41.8  23.0   8.9  6.0  14.2  20.1  105.4
 28  0.339  ...  0.783  12.2  33.0  45.2  24.3   7.4  4.5  15.5  18.7  105.1
 29  0.344  ...  0.787  10.9  30.4  41.3  25.2   7.8  4.3  15.2  20.7  105.1
 30  0.360  ...  0.780  11.1  33.0  44.1  26.5   8.2  4.9  14.3  18.6  113.8

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA  \
 0    1.0           Orlando Magic*  82  240.6  38.1  81.5  0.468  11.4  31.4
 1    2.0          Boston Celtics*  82  241.8  40.3  89.4  0.450  12.9  37.1
 2    3.0   Oklahoma City Thunder*  82  240.3  37.9  87.0  0.436  13.5  39.3
 3    4.0    Los Angeles Clippers*  82  241.5  39.5  85.8  0.461  13.0  37.0
 4    5.0  Minnesota Timberwolves*  82  241.8  40.5  88.0  0.460  12.7  36.0
 5    6.0         Houston Rockets*  82  241.2  40.5  88.3  0.459  12.3  34.5
 6    7.0              Miami Heat*  82  243.0  41.3  88.6  0.466  13.6  37.9
 7    8.0   Golden State Warriors*  82  240.6  40.4  86.9  0.465  13.2  36.3
 8    9.0         New York Knicks*  82  242.4  41.6  87.7  0.474  13.1  35.7
 9   10.0            Brooklyn Nets  82  241.2  40.5  84.3  0.480  12.9  35.7
 10  11.0      Los Angeles Lakers*  82  240.6  41.4  89.3  0.463  13.6  38.1
 11  12.0     Cleveland Cavaliers*  82  240.9  41.2  90.9  0.454  13.5  37.5
 12  13.0         Milwaukee Bucks*  82  240.9  41.6  91.1  0.457  13.9  39.4
 13  14.0         Detroit Pistons*  82  241.5  40.6  87.9  0.461  13.6  37.2
 14  15.0   Portland Trail Blazers  82  241.2  41.6  88.3  0.471  12.7  35.2
 15  16.0        Charlotte Hornets  82  240.9  41.6  88.9  0.467  14.2  40.0
 16  17.0          Indiana Pacers*  82  242.1  42.6  89.9  0.474  12.9  36.3
 17  18.0          Toronto Raptors  82  241.5  41.2  88.3  0.466  13.2  37.7
 18  19.0        Sacramento Kings*  82  242.4  41.6  87.8  0.474  14.5  38.2
 19  20.0        Dallas Mavericks*  82  240.6  43.1  91.7  0.469  12.9  35.4
 20  21.0       Philadelphia 76ers  82  241.5  42.4  86.8  0.488  14.2  37.6
 21  22.0             Phoenix Suns  82  241.8  42.6  90.1  0.473  14.2  38.4
 22  23.0        San Antonio Spurs  82  240.6  43.8  92.5  0.474  14.4  39.3
 23  24.0       Memphis Grizzlies*  82  240.3  41.9  91.8  0.456  14.2  39.4
 24  25.0          Denver Nuggets*  82  242.1  43.3  93.0  0.466  14.1  38.7
 25  26.0     New Orleans Pelicans  82  240.9  43.7  90.5  0.483  14.6  40.1
 26  27.0           Atlanta Hawks*  82  241.2  43.4  90.2  0.481  14.3  37.8
 27  28.0           Chicago Bulls*  82  240.9  44.4  95.0  0.467  13.6  39.6
 28  29.0       Washington Wizards  82  240.6  43.7  92.8  0.471  14.3  39.2
 29  30.0                Utah Jazz  82  241.5  44.6  93.0  0.480  14.9  41.5
 30   NaN           League Average  82  241.3  41.7  89.2  0.467  13.5  37.6

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
 0   0.365  ...  0.766   9.2  33.0  42.1  22.8  7.7  4.4  16.2  20.3  105.5
 1   0.347  ...  0.777  10.7  33.0  43.7  24.0  6.9  3.6  12.8  17.5  107.2
 2   0.342  ...  0.774  11.6  33.3  44.9  24.6  6.7  4.8  17.0  18.1  107.6
 3   0.350  ...  0.772   9.7  31.8  41.5  25.7  8.8  4.3  15.0  17.8  108.2
 4   0.353  ...  0.767  11.0  31.8  42.9  24.8  8.4  4.5  14.7  19.2  109.3
 5   0.357  ...  0.759  10.6  31.6  42.1  23.5  7.9  5.7  14.3  19.2  109.8
 6   0.360  ...  0.776  10.7  33.9  44.7  26.5  7.5  4.7  13.8  17.0  110.0
 7   0.363  ...  0.769  10.6  33.5  44.1  25.9  7.6  5.4  15.7  18.6  110.5
 8   0.367  ...  0.789  10.9  31.0  41.8  25.2  7.0  5.0  14.5  19.0  111.7
 9   0.362  ...  0.779  10.1  33.6  43.7  27.1  8.0  5.6  15.0  18.9  112.2
 10  0.356  ...  0.775  11.2  31.8  43.0  27.3  8.2  4.2  13.7  19.2  112.2
 11  0.359  ...  0.779  11.5  32.0  43.5  25.6  7.8  4.4  14.5  18.9  112.4
 12  0.353  ...  0.783  11.0  34.3  45.3  26.4  7.3  3.8  12.9  18.9  113.0
 13  0.366  ...  0.776  10.5  31.9  42.5  24.8  8.9  5.0  15.1  18.9  113.6
 14  0.361  ...  0.799  11.9  32.3  44.2  26.2  9.5  5.5  15.5  19.3  113.9
 15  0.355  ...  0.790  11.3  33.9  45.2  26.8  8.8  5.3  13.3  18.1  114.2
 16  0.355  ...  0.773  11.2  33.8  45.0  26.0  7.2  4.5  15.0  18.8  115.1
 17  0.349  ...  0.778  11.5  33.5  45.0  25.9  9.2  5.9  15.1  18.1  115.2
 18  0.381  ...  0.783  10.0  32.4  42.3  27.0  7.9  4.3  13.9  18.5  115.3
 19  0.363  ...  0.779  12.1  33.2  45.3  27.1  8.1  4.6  13.2  18.7  115.4
 20  0.378  ...  0.794  11.5  34.0  45.5  28.3  7.4  5.1  16.0  18.7  115.8
 21  0.370  ...  0.790  11.5  32.7  44.2  27.3  8.5  4.0  12.2  18.4  116.6
 22  0.365  ...  0.790  12.1  34.1  46.2  28.0  8.1  4.3  13.7  17.4  116.7
 23  0.360  ...  0.770  11.5  32.0  43.5  27.0  8.7  5.5  15.1  20.2  116.9
 24  0.365  ...  0.777  11.7  30.7  42.5  29.0  8.7  5.1  13.0  19.0  116.9
 25  0.365  ...  0.786  11.9  33.9  45.7  28.6  9.0  5.2  14.0  17.9  119.3
 26  0.377  ...  0.802  10.3  33.4  43.7  28.2  9.2  4.9  16.0  19.1  119.3
 27  0.344  ...  0.786  11.0  35.1  46.1  28.9  8.1  5.1  12.6  16.8  119.4
 28  0.364  ...  0.793  12.9  36.0  48.9  28.5  9.1  5.2  13.3  18.2  120.4
 29  0.358  ...  0.763  11.7  32.6  44.2  29.6  9.8  6.4  11.8  19.3  121.2
 30  0.360  ...  0.780  11.1  33.0  44.1  26.5  8.2  4.9  14.3  18.6  113.8

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA  \
 0    1.0     Cleveland Cavaliers*  82  19755  3652  7444  0.491  1303  3401
 1    2.0       Memphis Grizzlies*  82  19705  3670  7654  0.479  1141  3107
 2    3.0          Denver Nuggets*  82  19855  3724  7360  0.506   984  2619
 3    4.0   Oklahoma City Thunder*  82  19705  3660  7600  0.482  1192  3184
 4    5.0           Atlanta Hawks*  82  19780  3556  7528  0.472  1107  3089
 5    6.0           Chicago Bulls*  82  19755  3543  7545  0.470  1266  3447
 6    7.0          Indiana Pacers*  82  19855  3574  7326  0.488  1081  2934
 7    8.0          Boston Celtics*  82  19830  3413  7382  0.462  1457  3955
 8    9.0         New York Knicks*  82  19880  3553  7315  0.486  1031  2794
 9   10.0        Sacramento Kings*  82  19880  3529  7385  0.478  1032  2887

In [98]:
import pandas as pd
r3=pd.read_html('https://www.basketball-reference.com/leagues/NBA_2025.html')
type(r3)

list

In [100]:
len(r3)

13

In [104]:
data1=r3[0]
data1

          Eastern Conference   W   L   W/L%    GB   PS/G   PA/G    SRS
0   Cleveland Cavaliers* (1)  64  18  0.780     —  121.9  112.4   8.81
1        Boston Celtics* (2)  61  21  0.744   3.0  116.3  107.2   8.28
2       New York Knicks* (3)  51  31  0.622  13.0  115.8  111.7   3.59
3        Indiana Pacers* (4)  50  32  0.610  14.0  117.4  115.1   1.68
4       Milwaukee Bucks* (5)  48  34  0.585  16.0  115.5  113.0   2.12
5       Detroit Pistons* (6)  44  38  0.537  20.0  115.5  113.6   1.73
6         Orlando Magic* (7)  41  41  0.500  23.0  105.4  105.5  -0.70
7         Atlanta Hawks* (8)  40  42  0.488  24.0  118.2  119.3  -1.41
8         Chicago Bulls* (9)  39  43  0.476  25.0  117.8  119.4  -1.83
9           Miami Heat* (10)  37  45  0.451  27.0  110.6  110.0   0.11
10      Toronto Raptors (11)  30  52  0.366  34.0  110.9  115.2  -4.40
11        Brooklyn Nets (12)  26  56  0.317  38.0  105.1  112.2  -6.95
12   Philadelphia 76ers (13)  24  58  0.293  40.0  109.6  115.8  -6.29
13    Charlotte Hornets (14)  19  63  0.232  45.0  105.1  114.2  -9.10
14   Washington Wizards (15)  18  64  0.220  46.0  108.0  120.4 -12.14

In [106]:
data1.head()

         Eastern Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
0  Cleveland Cavaliers* (1)  64  18  0.780     —  121.9  112.4  8.81
1       Boston Celtics* (2)  61  21  0.744   3.0  116.3  107.2  8.28
2      New York Knicks* (3)  51  31  0.622  13.0  115.8  111.7  3.59
3       Indiana Pacers* (4)  50  32  0.610  14.0  117.4  115.1  1.68
4      Milwaukee Bucks* (5)  48  34  0.585  16.0  115.5  113.0  2.12

In [108]:
data1.tail()

         Eastern Conference   W   L   W/L%    GB   PS/G   PA/G    SRS
10     Toronto Raptors (11)  30  52  0.366  34.0  110.9  115.2  -4.40
11       Brooklyn Nets (12)  26  56  0.317  38.0  105.1  112.2  -6.95
12  Philadelphia 76ers (13)  24  58  0.293  40.0  109.6  115.8  -6.29
13   Charlotte Hornets (14)  19  63  0.232  45.0  105.1  114.2  -9.10
14  Washington Wizards (15)  18  64  0.220  46.0  108.0  120.4 -12.14

In [110]:
data1.columns

Index(['Eastern Conference', 'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS'], dtype='object')

In [112]:
type(data1.columns)

pandas.core.indexes.base.Index

In [114]:
data1.dtypes

Eastern Conference     object
W                       int64
L                       int64
W/L%                  float64
GB                     object
PS/G                  float64
PA/G                  float64
SRS                   float64
dtype: object

In [116]:
data1['W']

0     64
1     61
2     51
3     50
4     48
5     44
6     41
7     40
8     39
9     37
10    30
11    26
12    24
13    19
14    18
Name: W, dtype: int64

In [118]:
data1[['W','L']]

     W   L
0   64  18
1   61  21
2   51  31
3   50  32
4   48  34
5   44  38
6   41  41
7   40  42
8   39  43
9   37  45
10  30  52
11  26  56
12  24  58
13  19  63
14  18  64